.content{
    width: 100%;
    height: 1830px;
    text-align: center
}
.content .box{
    margin-top: 30px;
}
.content h3{
    font-size: 25px;
    width: 7%;
    color: white;
    border-radius: 50px;
    margin-left: 45%;
    box-sizing: border-box;
}
footer{
    width: 100%;
    text-align: center;
}